/**
 * Defaults injected in every theme.
 */
code-block {
  display: block;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  overflow: auto;
  tab-size: 2;
  hyphens: none;
}
