/**
 * Defaults injected in every theme.
 */

/* Hide until custom element is defined and ready */
code-block:not(:defined),
code-block:not([ready]) {
  visibility: hidden;
}

code-block {
  display: block;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  overflow: auto;
  tab-size: 2;
  hyphens: none;
}
